@use'../base/variables';
@use'../utilities/maps'as mapa;
@use'../utilities/extend';
@use'../utilities/mixin';




body{
    font-family: "Source Sans Pro", sans-serif;
    color:map.get(mapa.$colores, color-1);
    background-color:map.get(mapa.$colores, color-2);
    line-height:1.5;
    padding:20px; /* margen lateral global en mobile */
    /* ------------------------- */
/*       ENCABEZADO NAV      */
/* ------------------------- */
    .headerindex{
    background-color:map.get(mapa.$colores, color-3);
    @include mixin.flex-center(flex,space-between,center);
    padding:15px 25px;
    border-radius:10px;
    ul{
    @include mixin.flex-center(flex);
    list-style:none;
    gap:15px;
     a{
    text-decoration:none;
    font-family:"Source Sans Pro", sans-serif;
    font-weight:600;
    color: variables.$color-primario;
    transition:0.3s;
    hover{
    color:variables.$color-secundario;
}
}

}
}
}


.hamburguesa{
    font-size:45px;
    color:variables.$color-primario;
    display:none;
     @extend %flex-center;
    .menu {
    transition: max-height 0.3s ease-in-out;
    /* Estado abierto */
.activo {
    max-height: 500px; 
}
}


}

