@use'../base/variables';
@use'../utilities/maps'as mapa;
@use'../utilities/extend';
@use'../utilities/mixin';


/* ------------------------- */
/*       TITULOS ELEGANTES   */
/* ------------------------- */
h1, h2, h3{
    font-family:"Cormorant Garamond", serif;
    font-weight:600;
    line-height:1.2;
}

.Aromislab img{
    display:block;
    margin:0 auto;
    img{ transform:scale(1.2)
         }
         img{ transition:transform 5s; }
}


.tituloprod{
    font-size:50px;
    color:map.get(mapa.$colores, color-9);
    margin:30px 0 10px 0;
    @include mixin.text-center(center);
 /* ------------------------- */
/*       LISTAS Y TEXTO       */
/* ------------------------- */
.finas{
    color:map.get(mapa.$colores, color-6);
    font-size:34px;
    margin-top:40px;
    @include mixin.text-center(center);
}
.finas2{
    font-family:"Cormorant Garamond", serif;
    font-size:20px;
    margin-top:20px;
    padding-left:25px;
    color:map.get(mapa.$colores, color-1);
}
}


.listaservicios{
    padding-left:20px;
    font-size:20px;
    line-height:1.6;
}

/* ------------------------- */
/*   SUBTÍTULOS CURSIVOS     */
/* ------------------------- */
.subtituloindex,
.frasenosotros{
    font-family:"Cormorant Garamond", serif;
    font-size:36px;
    color:variables.$color-terciario;
    @include mixin.text-center(center);
}




/* ------------------------- */
/*         FORMULARIO        */
/* ------------------------- */
#form{
    max-width:900px;
    padding:30px;
    margin:auto;
    background-color:map.get(mapa.$colores, color-2);
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
    .label{
    font-weight:600;
    color:variables.$color-terciario;
    .texto{
    width:100%;
    padding:12px;
    margin-bottom:20px;
    border-radius:8px;
    border:1px solid map.get(mapa.$colores, color-2);
    .boton{
    background-color:map.get(mapa.$colores, color-3);
    color:map.get(mapa.$colores, color-2);
    font-weight:700;
    border:none;
    padding:12px 25px;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
    &hover{
    background-color:map.get(mapa.$colores, color-8);
}
}

}
}

}







