$colores:(
    color-1:#333,
    color-2:white,
    color-3:#dec2f1,
    color-4: #117864,
    color-5:#044436,
    color-6:#976cb8,
    color-7:#7a4343,
    color-8:#8fb093,
    color-9:#7c5fa3,
    color-10:#ccc,
)